img.footerimage {
    width: 100%;
    height: auto;
    max-width: 180px;
}

#map {
    height: 50vh;
}

/* navigation bar drop down menu will always be in front*/
nav.navbar ul.dropdown-menu {
    z-index: 2147483647;
}

:root {
    --documents: #536e61;
    --documents-hover: #536e61c2;
    --persons: #79B4A9;
    --persons-hover: #79B4A9c2;
    --goods: #cf7332;
    --goods-hover: #cf7332c2;
    --locations: #9cc288;
    --locations-hover: #9cc288c2;
    --categories: #EDB183;
    --categories-hover: #EDB183c2;
    --dashboard: #993333;
    --dashboard-hover: #993333c2;
    --district: #5ec65a;
    --district-hover: #5ec65ac2;
    --mahalle: #467C27;
    --mahalle-hover: #467C27c2;
    --karye: #4e99c8;
    --karye-hover: #4e99c8c2;
    --quarter: #3875c1;
    --quarter-hover: #3875c1c2;
    --address: #6A6EDF;
    --address-hover: #6A6EDFc2;
    --nahiye: #7d5faa;
    --nahiye-hover: #7d5faac2;
    --link: #000000;
    --link-hover: #6e6e6ec2;
    --footer-hover-background: #f2f2f2;
}

/*
document is built up as follows: 

links to a specific page
remaining links
page headers
tabulator headers
tabulator footer
subpages 
*/

/* links to a specific page */
a[href="documents.html"] {
    color: var(--documents);
 &:hover { 
    color: var(--documents-hover);
 }
}
a[href="persons.html"] {
    color: var(--persons);
 &:hover { 
    color: var(--persons-hover);
 }
} 
a[href="locations.html"] {
    color: var(--locations);
 &:hover { 
    color: var(--locations-hover);
 }
}
a[href="categories.html"] {
    color: var(--categories);
 &:hover { 
    color: var(--categories-hover);
 }
}

a[href="goods.html"] {
    color: var(--goods);
 &:hover { 
    color: var(--goods-hover);
 }
}

a[href="dashboard.html"] {
    color: var(--dashboard);
 &:hover { 
    color: var(--dashboard-hover);
 }
}

/* remaining links */
a {
    color: var(--link);
    text-decoration: unset;
 &:hover {
    color: var(--link-hover);
 }
}


/* page headers */
h1 {
    text-decoration: unset;
}

div.documents h1 {
    color: var(--documents);
}
div.documents h1 > a {
    color: var(--documents);
    &:hover{
        color: var(--documents-hover);
    }
}

div.persons h1 {
    color: var(--persons);
}
div.persons h1 > a {
    color: var(--persons);
    &:hover{
        color: var(--persons-hover);
    }
}

div.locations h1 {
    color: var(--locations);
}
div.locations h1 > a {
    color: var(--locations);
    &:hover{
        color: var(--locations-hover);
    }
}

div.categories h1 {
    color: var(--categories);
}
div.categories h1 > a {
    color: var(--categories);
    &:hover{
        color: var(--categories-hover);
    }
}

div.goods h1 {
    color: var(--goods);
}
div.goods h1 > a {
    color: var(--goods);
    &:hover{
        color: var(--goods-hover);
    }
}

div.dashboard h1 {
    color: var(--dashboard);
}
div.dashboard h1 > a {
    color: var(--dashboard);
    &:hover{
        color: var(--dashboard-hover);
    }
}


/* tabulator headers */
/*documents page*/
div.documents div.tabulator-col.tabulator-sortable.tabulator-col-sorter-element {
    background-color: var(--documents);
    color: white; 
 &:hover {
    background-color: var(--documents-hover) !important;
 }
}

/*persons page*/
div.persons div.tabulator-col.tabulator-sortable.tabulator-col-sorter-element {
    background-color: var(--persons);
 &:hover {
    background-color: var(--persons-hover) !important;
 }
}

/*locations page*/
div.locations div.tabulator-col.tabulator-sortable.tabulator-col-sorter-element {
    background-color: var(--locations);
 &:hover {
    background-color: var(--locations-hover) !important;
 }
}

/*categories page*/
div.categories div.tabulator-col.tabulator-sortable.tabulator-col-sorter-element {
    background-color: var(--categories);
 &:hover {
    background-color: var(--categories-hover) !important;
 }
}

/*goods page*/
div.goods div.tabulator-col.tabulator-sortable.tabulator-col-sorter-element {
    background-color: var(--goods);
    color: white;
 &:hover {
    background-color: var(--goods-hover) !important;
 }
}

/* end of tabulator headers */


/* tabulator footer */
/*documents footer*/
div.documents div.tabulator .tabulator-footer .tabulator-page.active {
    background-color: var(--documents);
    border-color: var(--documents);
 &:hover {
    background-color: var(--footer-hover-background);
 }
}

div.documents div.tabulator .tabulator-footer .tabulator-page:hover {
    color: var(--documents) !important;
}

/*persons footer*/
div.persons div.tabulator .tabulator-footer .tabulator-page.active {
    background-color: var(--persons);
    border-color: var(--persons);
 &:hover {
    background-color: var(--footer-hover-background);
 }
}

div.persons div.tabulator .tabulator-footer .tabulator-page:hover {
    color: var(--persons) !important;
}

/*locations footer*/
div.locations div.tabulator .tabulator-footer .tabulator-page.active {
    background-color: var(--locations);
    border-color: var(--locatios);
 &:hover {
    background-color: var(--footer-hover-background);
 }
}

div.locations div.tabulator .tabulator-footer .tabulator-page:hover {
    color: var(--locations) !important;
}

/*categories footer*/
div.categories div.tabulator .tabulator-footer .tabulator-page.active {
    background-color: var(--categories);
    border-color: var(--categories);
 &:hover {
    background-color: var(--footer-hover-background);
 }
}

div.categories div.tabulator .tabulator-footer .tabulator-page:hover {
    color: var(--categories) !important;
}

/*goods footer*/
div.goods div.tabulator .tabulator-footer .tabulator-page.active {
    background-color: var(--goods);
    border-color: var(--goods);
 &:hover {
    background-color: var(--footer-hover-background);
 }
}

div.goods div.tabulator .tabulator-footer .tabulator-page:hover {
    color: var(--goods) !important;
}

/* end of tabulator footer */


/* subpages */
/*document subpage*/
div.document h1 {
    /*create line*/
    border-bottom: 3px solid var(--documents);
    padding-bottom: 5px;
}

div.document a {
    color: var(--documents);
 &:hover {
    color: var(--documents-hover);
 }
}

div.document .badge {
    background-color: var(--documents) !important;
 &:hover {
    background-color: var(--documents-hover) !important;
 }
}

/*person subpage*/
div.person h1 {
    border-bottom: 3px solid var(--persons);
    padding-bottom: 5px;
}

div.person a {
    color: var(--persons);
 &:hover {
    color: var(--persons-hover);
 }
}

/*district subpage*/
div.district h1 {
    border-bottom: 3px solid var(--district);
    padding-bottom: 5px;
}

div.district a {
    color: var(--district);
 &:hover {
    color: var(--district-hover);
 }
}

/*karye subpage*/
div.karye h1 {
    border-bottom: 3px solid var(--karye);
    padding-bottom: 5px;
}

div.karye a {
    color: var(--karye);
 &:hover {
    color: var(--karye-hover);
 }
}
/*mahalle subpage*/
div.mahalle h1 {
    border-bottom: 3px solid var(--mahalle);
    padding-bottom: 5px;
}

div.mahalle a {
    color: var(--mahalle);
 &:hover {
    color: var(--mahalle-hover);
 }
}

/*nahiye subpage*/
div.nahiye h1 {
    border-bottom: 3px solid var(--nahiye);
    padding-bottom: 5px;
}

div.nahiye a {
    color: var(--nahiye);
 &:hover {
    color: var(--nahiye-hover);
 }
}

/*quarter subpage*/
div.quarter h1 {
    border-bottom: 3px solid var(--quarter);
    padding-bottom: 5px;
}

div.quarter a {
    color: var(--quarter);
 &:hover {
    color: var(--quarter-hover);
 }
}

/*address subpage*/
div.address h1 {
    border-bottom: 3px solid var(--address);
    padding-bottom: 5px;
}

div.address a {
    color: var(--address);
 &:hover {
    color: var(--address-hover);
 }
}

/*category subpage*/
div.category h1 {
    border-bottom: 3px solid var(--categories);
    padding-bottom: 5px;
}

div.category a {
    color: var(--categories);
 &:hover {
    color: var(--categories-hover);
 }
}

/*good subpage*/
div.good h1 {
    border-bottom: 3px solid var(--goods);
    padding-bottom: 5px;
}

div.good a {
    color: var(--goods);
 &:hover {
    color: var(--goods-hover);
 }
}


/* end of subpages */

.subtitle {
    padding: 0 3% 0 3%;
    text-align: justify;
    color: 	#696969
}

/* removes the stroke thorugh the symbols in the legend of Highcharts graph */
.highcharts-legend-item .highcharts-graph {
	display: none;
}

.container {
    margin-top: 20px;
    margin-bottom: 50px;
}

/*Legend specific*/
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /*border-radius: 5px;*/
    line-height: 24px;
    color: #555;
  }
  
  .legend span {
    position: relative;
    bottom: 3px;
  }
  
  .legend div {
    width: 10px;
    height: 10px;
    float: left;
    margin: 5px 5px 0 0;
    border-radius: 50%;
  }
