{% set page_title = "About the Project" %}
{% extends "templates/partials/base.j2" %}
{% block title %}{{page_title}}{% endblock title %}
{% block page_description %}
<meta name="description" content="{{ project_data.project_sub_title }}">
{% endblock page_description %}

{% block content %}
{% include "templates/partials/breadcrumbs.j2" %}
<div class="container subpage">
    <h1 class="text-center pb-2">
        {{page_title}}</h1>
    <div class="mt-4 mx-auto about-text">
        <p>This website was established to present the results of GrocerIST, a project funded by the Austrian Science
            Fund (FWF) and conducted by the Department of Turkish Studies at the University of Vienna, in collaboration
            with the Austrian Centre for Digital Humanities and Cultural Heritage (ACDH-CH). It showcases data on
            Istanbul’s grocers as documented in inheritance inventories from the eighteenth and nineteenth centuries.
        </p>
        <p>For the eighteenth century, a total of 392 kadi sicills were scanned, of which 77 include grocers'
            inheritance inventories with 88 entries in total from the years 1701 to 1795, covering three judicial
            districts (kadiships) of Istanbul: Galata (37 inventories), Üsküdar (21 inventories), and Eyüp (19
            inventories).</p>
        <p>For the nineteenth century, 124 kadi sicills from the Üsküdar kadiship were scanned, yielding 29 grocers’
            inheritance inventories from the period between 1803 and 1851. The website will soon incorporate an
            additional 150 Eyüp grocers’ inheritance inventories, covering the years 1798 to 1906. By the first quarter
            of 2025, the data from the Galata grocers will also be added to the database.</p>
        <p>The data can be explored in detail through five dedicated tabs: “Documents,” “Grocers,” “Groceries,” “Grocery
            Categories,” and “Locations.” Additionally, the “Dashboard” tab offers detailed graphs and visualizations of
            the data, facilitating deeper analysis. The site also includes a list of “paraphernalia” documented in the
            grocers’ inheritance inventories and will soon feature a separate database of pricing information.</p>
        <p align="center">For the university project website click here: 
            <a href="https://grocerist.univie.ac.at/">https://grocerist.univie.ac.at/</a></p>
    </div>
</div>
{% endblock content%}
