{% extends "templates/partials/base.j2" %}
{% block title %}Browse Good Categories{% endblock title %}
{% block page_description %}
<meta name="description" content="{{ project_data.project_sub_title }}">
{% endblock page_description %}

{% block scriptHeader %}
{% include "templates/partials/tabulator.j2" %}
{% endblock scriptHeader %}
{% block content %}
<div class="container categories">
    <h1 class="text-center">Good Categories</h1>
    <div id="example-table"></div>
</div>
{% endblock content%}

{% block scripts2 %}
<script src="js/categories.js"></script>
{% endblock scripts2 %}