{% extends "templates/partials/base.j2" %}
{% block title %}Browse Charts{% endblock title %}
{% block page_description %}
<meta name="description" content="{{ project_data.project_sub_title }}">
{% endblock page_description %}

{% block scriptHeader %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
{% endblock scriptHeader %}
{% block content %}
<div class="container">
    <h1 class="text-center">
        {% include "templates/partials/link_to_top.j2" %}
        Dashboard</h1>
    <br>
    <div class="card">
        <div id="container_religion_chart"></div>
    </div><br><br>
    <div class="card">
    <div id="container_select">
    <label for="select-century">Select century:</label>
    <select id="select-century">
            <option value="18">18th century</option>
            <option value="19">19th century</option>
        </select>
        </div>
        <div id="container_categories_chart">
            </div>
    </div><br><br>
    <div class="card"></div>
        <div id="container_time_chart"></div>
    <br><br>
    <div class="card">
        <div id="container_normalized_time_chart"></div>
    </div>
</div></div>
{% endblock content%}
{% block scripts2 %}
<script src="js/dashboard.js"></script>
{% endblock scripts2 %}