{% set page_title = "Dashboard" %}
{% extends "templates/partials/base.j2" %}
{% block title %}Browse {{page_title}}{% endblock title %}
{% block page_description %}
<meta name="description" content="{{ project_data.project_full_title }}">
{% endblock page_description %}

{% block content %}
{% include "templates/partials/breadcrumbs.j2" %}
<div class="container">
    <h1 class="text-center">
        {{page_title}}</h1>
    <br>
    <div class="card py-3 mb-3" id="container_religion_chart">
    </div>
    <div class="card py-3 mb-3">
        <div class="buttons d-flex justify-content-center mb-3">
            <button id="btn-cat-18" class="btn grocerist-button cat-century-btn active">18th century</button>
            <button id="btn-cat-19" class="btn grocerist-button cat-century-btn">19th century</button>
        </div>
        <div id="container_categories_chart">
        </div>
    </div>
    <div class="card py-3 mb-3">
        <div class="buttons d-flex justify-content-center mb-3">
            <button id="btn-mentions-18" class="btn grocerist-button mentions-century-btn active">18th century</button>
            <button id="btn-mentions-19" class="btn grocerist-button mentions-century-btn">19th century</button>
        </div>
        <div class="row g-3 align-items-end mb-3 p-3">
            <!-- Chart Title Input and Button -->
            <div class="col-12 col-md-6">
                <label for="chart-title" class="form-label">Chart title:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="chart-title" placeholder="Enter chart title"
                        style="max-width:300px;">
                    <button id="set-title-btn" class="btn grocerist-button">Set title</button>
                </div>
            </div>
            <!-- Range Inputs and Button -->
            <div class="col-12 col-md-6">
                <label for="range-inputs" class="form-label">Select min. and max. documents:</label>
                <div class="input-group" id="range-inputs" class="row g-2 align-items-center">
                    <div class="col-auto">
                        <input type="number" class="form-control" id="min" placeholder="Min" min="0" max="100">
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control" id="max" placeholder="Max" min="0" max="100">
                    </div>
                    <div class="col-auto">
                        <button id="range-apply-btn" class="btn grocerist-button">Apply range</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="container_mentions_chart"></div>
    </div>
    <figure class="highcharts-figure">
        <div class="card py-3 mb-3">
            <div class="buttons d-flex justify-content-center mb-3">
                <button id="btn-absolute-time-chart"
                    class="btn grocerist-button time-chart-btn active">Absolute</button>
                <button id="btn-normalized-time-chart" class="btn grocerist-button time-chart-btn">Normalized</button>
            </div>
            <div id="container_time_chart"></div>
        </div>
        <p class="highcharts-description my-3 mx-5">The chart displays the frequency with which various grocery
            categories
            were mentioned in inheritance inventory documents, broken down by decade. <br /> Each mention of a product
            within a category is counted separately; for example, if a document lists two products from the same
            category,
            both are counted individually. Only one category is preselected, but additional categories can be displayed
            by
            selecting the category labels on the left. Main categories are shown in bold, subcategories in regular text,
            and
            sub-subcategories in italics. <br />Please note that for some main categories, the sum of mentions across
            subcategories may be lower than the total shown for the main category, as certain products are not assigned
            to
            any subcategory. You can view the same data as the absolute number of mentions or normalized, in relation to
            the total number of documents from that decade.</p>
    </figure>
    <figure class="highcharts-figure">
        <div class="card py-3 mb-3" id="container_price_time_chart">
        </div>
        <p class="highcharts-description my-3 mx-5"> This chart shows the recorded prices of selected goods and how they
            changed over time. <br />
            The goods represented in this chart have been selected based on the availability and reliability of
            historical price data. The selection draws on Şevket Pamuk’s study, <i> İstanbul ve Diğer Kentlerde 500
                Yıllık Fiyatlar ve Ücretler 1469 - 1998 : 500 Years of Prices and Wages
                in Istanbul and Other Cities </i> (Ankara: Devlet İstatistik Enstitüsü,
            2000). This comprehensive work provides detailed records of prices and
            wages spanning over five centuries in Istanbul and other key cities. <br />
            The scatter plot shows individual recorded prices. Where prices were recorded in <i>keyl</i>, they have been
            converted to <i>kıyye</i> using the conversion rate of 1 <i>keyl</i> = 20 <i>kıyye</i>, also based on
            Pamuk’s
            study.  Spoiled or damaged items, as well as
            goods lacking currency information, have been excluded from the chart.<br />
            The trend line was calculated using simple linear regression via the ordinary least squares method, which
            models the overall direction of price change over time.
        </p>
    </figure>
</div>
</div>
{% endblock content %}
{% block scripts2 %}
<script src="vendor/d3/d3.v7.min.js"></script>
{% include "templates/partials/highcharts.j2" %}
<script src="vendor/highcharts-12.2.0/modules/drilldown.js"></script>
<script type="text/javascript" src="js/dashboard.js"></script>
{% endblock scripts2 %}