{% set page_title = "Dashboard" %}
{% extends "templates/partials/base.j2" %}
{% block title %}Browse {{page_title}}{% endblock title %}
{% block page_description %}
<meta name="description" content="{{ project_data.project_sub_title }}">
{% endblock page_description %}

{% block content %}
{% include "templates/partials/breadcrumbs.j2" %}
<div class="container">
    <h1 class="text-center">
        {{page_title}}</h1>
    <br>
    <div class="card py-3 mb-3" id="container_religion_chart">
    </div>
    <div class="card py-3 mb-3">
        <div class="buttons d-flex justify-content-center mb-3">
            <button id="btn-cat-18" class="btn grocerist-button cat-century-btn active">18th century</button>
            <button id="btn-cat-19" class="btn grocerist-button cat-century-btn">19th century</button>
        </div>
        <div id="container_categories_chart">
        </div>
    </div>
    <div class="card py-3 mb-3">
        <div class="buttons d-flex justify-content-center mb-3">
            <button id="btn-mentions-18" class="btn grocerist-button mentions-century-btn active">18th century</button>
            <button id="btn-mentions-19" class="btn grocerist-button mentions-century-btn">19th century</button>
        </div>
        <div class="row g-3 align-items-end mb-3">
            <div class="col-md-1"></div>
            <!-- Chart Title Input and Button -->
            <div class="col-md-5">
                <label for="chart-title" class="form-label">Chart title:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="chart-title" placeholder="Enter chart title">
                    <button id="set-title-btn" class="btn grocerist-button">Set title</button>
                </div>
            </div>
            <!-- Range Inputs and Button -->
            <div class="col-md-5">
                <label for="range-inputs" class="form-label">Select min. and max. documents:</label>
                <div id="range-inputs" class="row g-2 align-items-center">
                    <div class="col-auto">
                        <input type="number" class="form-control" id="min" placeholder="Min" min="0" max="100">
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control" id="max" placeholder="Max" min="0" max="100">
                    </div>
                    <div class="col-auto">
                        <button id="range-apply-btn" class="btn grocerist-button">Apply range</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div id="container_mentions_chart"></div>
    </div>
    <figure class="highcharts-figure">
        <div class="card py-3 mb-3" id="container_time_chart"></div>
        <p class="highcharts-description my-3 mx-5">The chart displays the frequency with which various grocery
            categories
            were mentioned in inheritance inventory documents, broken down by decade. <br /> Each mention of a product
            within a category is counted separately; for example, if a document lists two products from the same
            category,
            both are counted individually. Only one category is preselected, but additional categories can be displayed
            by
            selecting the category labels on the left. Main categories are shown in bold, subcategories in regular text,
            and
            sub-subcategories in italics. <br />Please note that for some main categories, the sum of mentions across
            subcategories may be lower than the total shown for the main category, as certain products are not assigned
            to
            any subcategory.</p>
    </figure>
    <figure class="highcharts-figure">
        <div class="card py-3 mb-3" id="container_normalized_time_chart">
        </div>
        <p class="highcharts-description my-3 mx-5"> For this chart, the total number of product mentions per decade was
            used to normalize the counts from the previous chart.</p>
    </figure>
</div>
</div>
{% endblock content %}
{% block scripts2 %}
<script src="vendor/d3/d3.v7.min.js"></script>
{% include "templates/partials/highcharts.j2" %}
<script src="vendor/highcharts-12.2.0/modules/drilldown.js"></script>
<script type="text/javascript" src="js/dashboard.js"></script>
{% endblock scripts2 %}