{% extends "templates/partials/base.j2" %}
{% block title %}Browse Documents{% endblock title %}
{% block page_description %}
<meta name="description" content="{{ project_data.project_sub_title }}">
{% endblock page_description %}

{% block scriptHeader %}
{% include "templates/partials/tabulator.j2" %}
{% endblock scriptHeader %}
{% block content %}
<div class="container documents">
    <h1 class="text-center">
        {% include "templates/partials/link_to_top.j2" %}
        Documents</h1>

    <div id="documents-table"></div>
</div>
{% endblock content%}

{% block scripts2 %}
<script src="js/documents.js"></script>
{% endblock scripts2 %}