{% set page_title = "Glossary" %}
{% extends "templates/partials/base.j2" %}
{% block title %}Browse{{page_title}}{% endblock title %}
{% block page_description %}
<meta name="description" content="{{ project_data.project_sub_title }}">
{% endblock page_description %}

{% block content %}
{% include "templates/partials/breadcrumbs.j2" %}
<div class="container">
    <h1 class="text-center">
        {{page_title}}</h1>
    <div class="glossary-jump">
        {% for letter in glossary_data.keys() %}
        <a href="#glossary-{{ letter }}">{{ letter }}</a>
        {% endfor %}
    </div>
    <div class="glossary">
        {% for letter, terms in glossary_data.items() %}
        <h2 id="glossary-{{ letter }}">{{ letter }}</h2>
        <dl>
            {% for term, definition in terms %}
            <dt>{{ term }}</dt>
            <dd>{{ definition }}</dd>
            {% endfor %}
        </dl>
        {% endfor %}
    </div>
</div>
{% endblock content %}