{% extends "templates/partials/base.j2" %}
{% block title %}Browse Goods{% endblock title %}
{% block page_description %}
<meta name="description" content="{{ project_data.project_sub_title }}">
{% endblock page_description %}

{% block scriptHeader %}
    {% include "templates/partials/tabulator.j2" %}
{% endblock scriptHeader %}
{% block content %}
<div class="container goods">
    <h1 class="text-center">Goods</h1>
    <div id="example-table"></div>
</div>
{% endblock content%}

{% block scripts2 %}
<script src="js/goods.js"></script>
{% endblock scripts2 %}