{% set page_title = "Imprint" %}
{% extends "templates/partials/base.j2" %}
{% block title %}{{page_title}}{% endblock title %}
{% block page_description %}
<meta name="description" content="Imprint">
{% endblock page_description %}
{% block content %}
{% include "templates/partials/breadcrumbs.j2" %}
<div class="container subpage pt-3">
    <h1 class="text-center pb-2">
        {{page_title}}</h1>
    {{ project_data.imprint|safe}}
</div>
{% endblock content %}