{% extends "templates/partials/base.j2" %}
{% block title %}{{ project_data.project_title }}{% endblock title %}
{% block page_description %}
<meta name="description" content="{{ project_data.project_sub_title }}">
{% endblock page_description %}

{% block content %}
<div class="header pb-1">
    <div class="container justify-content-center align-items-center text-white">
        <h1 class="text-center p-3">{{ project_data.project_title }}</h1>
        <h2 class="text-center">{{ project_data.project_sub_title }}</h2>
        <p class="description_text lh-base p-1">
            The main objective of GrocerIST is to reveal and analyse the food
            consumption patterns of inhabitants in the eighteenth and nineteenth
            centuries in Istanbul through the use of grocers' (<i>bakkal</i>)
            inheritance inventories. By making comparisons across the centuries
            and different socio-economic conditions of the city, this project
            intends to discuss the food consumption of Ottomans within the
            frameworks of the internal and external political and socio-economic
            circumstances of the empire.
        </p>
    </div>
</div>
{% set card_groups = [
[
{"title": "Documents", "icon": "bi-archive", "link": "documents.html", "button": "Browse Documents", "description":
"Explore detailed records of inheritance inventories from 18th and 19th century Istanbul grocers.", "img":
"documents.png" }
],
[
{"title": "Grocers", "icon": "bi-people", "link": "persons.html", "button": "Browse Grocers", "description": "Browse
profiles of persons mentioned in the inheritance records.", "img": "grocers.png"},
{"title": "Grocery&nbsp;Categories", "icon": "bi-boxes", "link": "categories.html", "button": "Browse Grocery
Categories",
"description": "View groceries categorized by type.", "img":
"categories.png"},
{"title": "Groceries", "icon": "bi-basket", "link": "goods.html", "button": "Browse Groceries", "description": "Access a
detailed catalog of groceries listed in historical inheritance inventories.", "img": "groceries.png"}
],
[
{"title": "Utensils", "icon": "bi-cup", "link": "utensils.html", "button": "Browse Utensils", "description":
"Discover various utensils listed in the inventories.", "img":
"utensils.png"},
{"title": "Locations", "icon": "bi-geo", "link": "locations.html", "button": "Browse Locations", "description":
"Explore geographical locations tied to grocers, as recorded in the documents.", "img": "locations2.png"},
{"title": "Dashboard", "icon": "bi-bar-chart", "link": "dashboard.html", "button": "Browse Dashboard", "description":
"Analyze the data through interactive charts and graphs.", "img":
"dashboard.png"},
]
] %}

<div class="container">
    {% for card_group in card_groups %}
    {% if card_group|length == 1 %}
    {% set col_class = "col-12" %}
    {% else %}
    {% set col_class = "col-sm-12 col-md-6 col-lg-4" %}
    {% endif %}
    <div class="row">
        {% for card_data in card_group %}
        {% if card_data.title == 'Groceries' or card_data.title == 'Dashboard' %}
        {% set col_class = "col-md-12 col-lg-4" %}
        {% endif %}
        <div class="{{ col_class }} pb-3">
            <div class="card index-card" style="background-image:url('images/{{card_data.img}}')">
                <div class="card-body">
                    <h3 class="card-title">
                        <i class="bi {{ card_data.icon }}" aria-hidden="true"></i>
                        <span>{{ card_data.title }}</span>
                    </h3>
                    <p class="card-text">{{ card_data.description }}</p>
                    <a href="{{ card_data.link }}" class="btn">{{ card_data.button }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <p class="attribution"> © Background image for the "Grocers" menu item from <a
            href="https://archives.saltresearch.org/handle/123456789/117251" target="_blank"
            rel="noopener noreferrer">Salt Research Archives</a>, licensed under <a
            href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank" rel="noopener noreferrer">CC
            BY-NC-ND 4.0</a>, cropped.
    </p>
</div>
{% endblock content %}