{% extends "templates/partials/base.j2" %}
{% block title %}{{ project_data.project_title }}{% endblock title %}
{% block page_description %}
<meta name="description" content="{{ project_data.project_sub_title }}">
{% endblock page_description %}

{% block content %}
<div class="header pb-1">
    <div class="container justify-content-center align-items-center">
        <h1 class="text-center p-3">{{ project_data.project_title }}</h1>
        <h3 class="text-center">{{ project_data.project_sub_title }}</h3>
        <p class="description_text lh-lg p-1">
            The main objective of GrocerIST is to reveal and analyse the food
            consumption patterns of inhabitants in the eighteenth and nineteenth
            centuries in Istanbul through the use of grocers' (<i>bakkal</i>)
            inheritance inventories. By making comparisons across the centuries
            and different socio-economic conditions of the city, this project
            intends to discuss the food consumption of Ottomans within the
            frameworks of the internal and external political and socio-economic
            circumstances of the empire.
        </p>
    </div>
</div>
    {% set card_groups = [
    [
    {"title": "Documents", "icon": "bi-archive", "link": "documents.html", "description": "Browse Documents about
    Grocers"}
    ],
    [
    {"title": "Grocers", "icon": "bi-people", "link": "persons.html", "description": "Browse Grocers"},
    {"title": "Groceries", "icon": "bi-basket", "link": "goods.html", "description": "Browse Groceries"},
    {"title": "Locations", "icon": "bi-geo", "link": "locations.html", "description": "Browse Locations"}
    ],
    [
    {"title": "Grocery Categories", "icon": "bi-boxes", "link": "categories.html", "description": "Browse Categories of
    Groceries"},
    {"title": "Dashboard", "icon": "bi-bar-chart", "link": "dashboard.html", "description": "Browse Dashboard"},
    ]
    ] %}

    <div class="container">
        {% for card_group in card_groups %}
        <div class="row pt-3">
            {% for card_data in card_group %}
            <div class="col">
                <div class="card index-card">
                    <div class="card-header">
                        <h3 class="text-center">{{ card_data.title }}</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">
                            <a class="icon-link icon-link-hover" href="{{ card_data.link }}">
                                <i class="bi {{ card_data.icon }}" style="font-size: 80px"></i>
                            </a>
                        </p>
                        <p class="text-center">{{ card_data.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endblock content %}