{% extends "templates/partials/base.j2" %}
{% block title %}{{ project_data.project_title }}{% endblock title %}
{% block page_description %}
<meta name="description" content="{{ project_data.project_sub_title }}">
{% endblock page_description %}

{% block content %}
<div class="header pb-1">
    <div class="container justify-content-center align-items-center">
        <h1 class="text-center p-3">{{ project_data.project_title }}</h1>
        <h3 class="text-center">{{ project_data.project_sub_title }}</h3>
        <p class="description_text lh-lg p-1">
            The main objective of GrocerIST is to reveal and analyse the food
            consumption patterns of inhabitants in the eighteenth and nineteenth
            centuries in Istanbul through the use of grocers' (<i>bakkal</i>)
            inheritance inventories. By making comparisons across the centuries
            and different socio-economic conditions of the city, this project
            intends to discuss the food consumption of Ottomans within the
            frameworks of the internal and external political and socio-economic
            circumstances of the empire.
        </p>
    </div>
</div>
{% set card_groups = [
[
{"title": "Documents", "icon": "bi-archive", "link": "documents.html", "button": "Browse Documents", "description": "A
list of documents containing inheritance inventories", "img": "ist1c.png" }
],
[
{"title": "Grocers", "icon": "bi-people", "link": "persons.html", "button": "Browse Grocers", "description": "A list of
persons mentioned in the inheritance documents", "img": "ist2c.png"},
{"title": "Groceries", "icon": "bi-basket", "link": "goods.html", "button": "Browse Groceries", "description": "A list
of groceries from the inheritance inventories", "img": "ist3c.png"},
{"title": "Grocery&nbsp;Categories", "icon": "bi-boxes", "link": "categories.html", "button": "Browse Grocery Categories",
"description": "List of groceries by category", "img": "ist5c.png"}
],
[
{"title": "Locations", "icon": "bi-geo", "link": "locations.html", "button": "Browse Locations", "description":
"Locations of grocers", "img": "ist4c.png"},
{"title": "Dashboard", "icon": "bi-bar-chart", "link": "dashboard.html", "button": "Browse Dashboard", "description":
"Different charts and graphs about the data", "img": "ist6c.png"},
]
] %}

<div class="container">
    {% for card_group in card_groups %}
    {% if card_group|length == 1 %}
    {% set col_class = "col-12" %}
    {% elif card_group|length == 2 %}
    {% set col_class = "col-sm-12 col-md-6" %}
    {% else %}
    {% set col_class = "col-sm-12 col-md-6 col-lg-4" %}
    {% endif %}
    <div class="row">
        {% for card_data in card_group %}
        {% if card_data.title == 'Grocery&nbsp;Categories' %}
        {% set col_class = "col-md-12 col-lg-4" %}
        {% endif %}
        <div class="{{ col_class }} pb-3">
            <div class="card index-card" style="background-image:url('images/{{card_data.img}}')">
                <div class="card-body">
                    <h3 class="card-title"><i class="bi {{ card_data.icon }}"></i><p>{{ card_data.title }}</p></h3>
                    <p class="card-text">{{ card_data.description }}</p>
                    <a href="{{ card_data.link }}" class="btn {{ card_data.title }}">{{ card_data.button }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock content %}