{%extends 'templates/partials/table_map.j2'%}
{%block subpage%}Karyes{%endblock subpage%}
{%set data_url = 'json_dumps/karye.json'%}
{% block extra_columns%}
            {
                title: "Notes", field: "notes", headerFilter: "input", formatter: "html"
            },
{% endblock%}