{% extends "templates/partials/base.j2" %}
{% block title %}Browse Locations {% endblock title %}
{% block page_description %}
<meta name="description" content="{{ project_data.project_sub_title }}">
{% endblock page_description %}
{% block scriptHeader %}
{% include "templates/partials/tabulator.j2" %}
{% include "templates/partials/highcharts.j2" %}
{% include "templates/partials/leaflet.j2" %}
{% endblock scriptHeader %}
{% block content %}
<div class="container">
    <h1 class="text-center">
        {% include "templates/partials/link_to_top.j2" %}
        Locations</h1>
    <div class="row"></div>
    <div class="col-md-12">
        <div id="places_chart"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <select class="form-select" id="select-location">
                <option value="District">Districts</option>
                <option value="Mahalle">Mahalles</option>
                <option value="Karye">Karyes</option>
                <option value="Nahiye">Nahiyes</option>
                <option value="Quarter">Quarters</option>
                <option value="Address">Addresses</option>
            </select>
            <div id="location-chart"></div>
        </div>
        <div class="col-md-12" id="places_table"></div>
    </div>
</div>
</div>
</div>
{% endblock content%}
{% block scripts2 %}
<script src="js/locations.js"></script>
{% endblock scripts2 %}