{%extends 'templates/partials/table_map.j2'%}
{%block subpage%}Neighbourhoods{%endblock subpage%}
{%set data_url = 'json_dumps/neighbourhoods.json'%}
{% block extra_columns%}
            {
            title:'District 18th century', field: 'district_eighteenth_century', mutator: tableMapModule.mutateDistrictField,
            headerFilter: 'input', formatter:'html'
            },
            {
            title:'District 19th century', field: 'district_nineteenth_century', mutator: tableMapModule.mutateDistrictField,
            headerFilter: 'input', formatter:'html'
            },
{% endblock%}