{% set tabulator_css = True %}
{% extends "templates/partials/base.j2" %}
{% block title %}Browse Persons{% endblock title %}
{% block page_description %}
<meta name="description" content="{{ project_data.project_sub_title }}">
{% endblock page_description %}

{% block content %}
<div class="container">
    <h1 class="text-center">
        {% include "templates/partials/link_to_top.j2" %}
        Persons</h1>
    <div class="row">
        <div class="col-6">
            <div id="religion-chart"></div>
        </div>
        <div class="col-6">
            <div id="districts-chart"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="persons-table"></div>
            </div>
        </div>

    </div>
    {% endblock content %}

    {% block scripts2 %}
    {% include "templates/partials/tabulator.j2" %}
    {% include "templates/partials/highcharts.j2" %}
    <script src="js/persons.js"></script>
    {% endblock scripts2 %}