{% set page_title = "Good Prices" %}
{% set tabulator_css = True %}
{% extends "templates/partials/base.j2" %}
{% block title %}Browse {{page_title}}{% endblock title %}

{% block page_description %}<meta name="description" content="{{ project_data.project_sub_title }}">
{% endblock page_description %}

{% block scriptHeader %}
{% include "templates/partials/tabulator.j2" %}
{% endblock scriptHeader %}
{% block content %}
{% include "templates/partials/breadcrumbs.j2" %}
<div class="container col-md-12">
    <h1 class="text-center">
        {{page_title}}
    </h1>
    <div class="row">
        <div class="col-2" style="height: 80vh;">
            <div id="goods-list"></div>
            <div class="d-grid col-10 mx-auto"><button id="deselect-button" class="btn">Deselect all</button></div>
        </div>
        <div id="prices-tables" class="col-10 ms-auto">
            <div class="prices-info">
                Click up to 3 goods in the list to display their price data
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts2 %}
<script src="js/prices.js"></script>
{% endblock scripts2 %}

