{% extends "templates/partials/base.j2" %}
{% block title %}Team{% endblock title %}
{% block page_description %}
<meta name="description" content="{{ project_data.project_sub_title }}">
{% endblock page_description %}

{% block content %}
<div class="container subpage">
    <h1 class="text-center">
        {% include "templates/partials/link_to_top.j2" %}
        Team</h1>
    <div>
        <ul class="custom-bullets">
            <li><a href="
            https://orientalistik.univie.ac.at/ueber-uns/personal/detailansicht-personal/user/koesey43/inum/1073/backpid/86555/"
                    target="_blank">Univ.-Prof. Dr. Yavuz Köse</a></li>
            <li><a href="https://orientalistik.univie.ac.at/ueber-uns/personal/detailansicht-personal/user/hosgoerbus85/inum/1073/backpid/86555/"
                    target="_blank">Dr. Sümeyye Hoşgör Büke</a></li>
            <li><a href="https://orientalistik.univie.ac.at/ueber-uns/personal/detailansicht-personal/user/denizo93/inum/1073/backpid/86555/"
                    target="_blank">Deniz Özeren, M.A.</a></li>
            <li><a href="https://www.oeaw.ac.at/acdh/team/current-team/peter-andorfer" target="_blank">Dr. Peter
                    Andorfer </a>(Austrian Centre for Digital Humanities and Cultural Heritage, ACDH_CH)</li>
            <li><a href="https://www.oeaw.ac.at/acdh/team/current-team/michaela-rausch-supola" target="_blank">Mag.
                    Michaela Rausch-Supola, BSC</a> (Austrian Centre for Digital
                Humanities and Cultural Heritage, ACDH_CH)</li>
            <li><a href="https://www.oeaw.ac.at/acdh/team/current-team/kinga-sramo" target="_blank">Kinga Sramó</a>
                (Austrian Centre for Digital Humanities and
                Cultural Heritage, ACDH_CH)</li>
            <li><a href="https://datenmanagement.univie.ac.at" target="_blank">Mag. Martin Gasteiner</a> (Phaidra,
                NewsEye, Transkribus, Universitätsbibliothek Wien)</li>
        </ul>
    </div>
</div>
{% endblock content%}