<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <title>{% block title %} {{ page_title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block page_description %}
    {% endblock page_description %}
    {% block scriptHeader %}
    {% endblock scriptHeader %}
    <script src="vendor/jquery/jquery-3.7.1.min.js"></script>
    <link href="vendor/bootstrap-5.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/icons-1.11.3/font/bootstrap-icons.css">
    {% if leaflet_css|default(False) %}
    <link rel="stylesheet" href="vendor/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="vendor/Leaflet.markercluster-1.4.1-dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="vendor/Leaflet.markercluster-1.4.1-dist/MarkerCluster.Default.css"/>
    <link rel="stylesheet" href="vendor/Leaflet.Control.Layers.Tree/L.Control.Layers.Tree.css"/>
    <link rel="stylesheet" href="vendor/leaflet.fullscreen/Control.FullScreen.css"/>
    {% endif %}
    {% if leaflet_draw_css|default(False) %}
    {% endif %}
    {% if tabulator_css|default(False) %}
    <link href="vendor/tabulator-tables/css/tabulator.min.css" rel="stylesheet">
    <link href="vendor/tabulator-tables/css/tabulator_bootstrap5.min.css" rel="stylesheet">
    {% endif %}
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://matomo.acdh.oeaw.ac.at/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '252']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

</head>

<body class="d-flex flex-column h-100">
    {% include "templates/partials/nav.j2" %}
    <main class="flex-shrink-0">
        {% block content %}{% endblock content %}
    </main>
    {% include "templates/partials/footer.j2" %}
    <script src="vendor/bootstrap-5.3.5-dist/js/bootstrap.bundle.min.js"></script>
    {% block scripts2 %}
    {% endblock scripts2 %}
</body>

</html>
