<footer class="footer mt-auto bg-body-tertiary">
  <div class="container p-4">
  <div class="footer-separator">
    CONTACT
    <hr>
  </div>
    <div class="row my-4">
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0" align="right">
        <div>
          <a href="https://orientalistik.univie.ac.at/en/">
            <img src="logos/csm_Logo-Name_8555758375.jpg" class="footerimage">
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <p>
          Department of Near Eastern Studies
          <br>
          Spitalgasse 2, Court 4.1
          <br>
          (Campus Universität Wien)
          <br>
          1090 Vienna
          </p>
          <p>
          T: +43-1-4277-43401
          <br>
          E: <a href="mailto:orientalistik@univie.ac.at">orientalistik@univie.ac.at</a>
          </p>
      </div>
      <div class="col-lg-1 col-md-6 mb-4 mb-md-0" align="right">
        <div>
          <a href="https://www.oeaw.ac.at/acdh/acdh-ch-home">
            <img src="logos/ACDHCH_logo.png" class="footerimage">
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <p>
          ACDH-CH
          <br>
          Austrian Centre for Digital Humanities and Cultural Heritage
          <br>
          Austrian Academy of Sciences
          </p>
          <p>
          Bäckerstraße 13
          <br>
          1010 Vienna
          </p>
          <p>
          T: +43 1 51581-2200
          <br>
          E: <a href="mailto:acdh-ch-helpdesk@oeaw.ac.at">acdh-ch-helpdesk@oeaw.ac.at</a>
          </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" align="right">
        <div>
          <a href="https://www.fwf.ac.at/forschungsradar/10.55776/P35546">
            <img src="logos/FWF_Logo_Zusatz_Dunkelblau_RGB_EN.png" class="footerimage">
          </a>
          <p>
          <br>
          Funded by the Austrian Science Fund FWF P35546
          </p>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0" align="center">
        <div>
          <a href="https://github.com/grocerist/grocerist-app"><i class="bi bi-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>