<footer class="footer mt-auto p-3 bg-body-tertiary">
  <div class="container">
    <div class="footer-separator">
      CONTACT
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-6 mb-4 mb-sm-0 d-flex justify-content-end">
        <div>
          <a href="https://orientalistik.univie.ac.at/en/">
            <img src="logos/csm_Logo-Name_8555758375.jpg" class="footerimage mt-2">
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6 mb-4 mb-sm-0">
        <p>
          Department of Near Eastern Studies
          <br>
          Spitalgasse 2, Court 4.1
          <br>
          (Campus Universität Wien)
          <br>
          1090 Vienna
        </p>
        <p>
          T: +43-1-4277-43401
          <br>
          E: <a href="mailto:orientalistik@univie.ac.at">orientalistik@univie.ac.at</a>
        </p>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-6 mb-4 mb-sm-0 d-flex justify-content-end">
        <div>
          <a href="https://www.oeaw.ac.at/acdh/acdh-ch-home">
            <img src="logos/ACDHCH_logo.png" class="footerimage mt-2">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4 mb-sm-0">
        <p>
          ACDH-CH
          <br>
          Austrian Centre for Digital Humanities and Cultural Heritage
          <br>
          Austrian Academy of Sciences
        </p>
        <p>
          Bäckerstraße 13
          <br>
          1010 Vienna
        </p>
        <p>
          T: +43 1 51581-2200
          <br>
          E: <a href="mailto:acdh-ch-helpdesk@oeaw.ac.at">acdh-ch-helpdesk@oeaw.ac.at</a>
        </p>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6 mb-4 mb-sm-0 d-flex justify-content-end mt-md-4 mt-lg-0">
        <a href="https://www.fwf.ac.at/forschungsradar/10.55776/P35546">
          <img src="logos/FWF_Logo_Zusatz_Dunkelblau_RGB_EN.png" class="footerimage mt-lg-2">
        </a>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 mb-4 mb-sm-0 mt-md-4 mt-lg-0">
        <p>
          Funded by the Austrian Science Fund <br> FWF P35546
        </p>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
</footer>