<script src="vendor/highcharts-12.2.0/highcharts.js"></script>
<script src="vendor/highcharts-12.2.0/modules/exporting.js"></script>
<script src="vendor/highcharts-12.2.0/modules/export-data.js"></script>
<script src="vendor/highcharts-12.2.0/modules/accessibility.js"></script>
<script type="text/javascript" src="js/colors.js"></script>