<script src="vendor/leaflet/leaflet.js"></script>
<script src="vendor/OverlappingMarkerSpiderfier-Leaflet/oms.min.js"></script>
<script type="text/javascript" src="js/colors.js"></script>
<script type="text/javascript" src="js/leaflet-utils.js"></script>