<script src="vendor/leaflet/leaflet.js"></script>
<script src="vendor/Leaflet.markercluster-1.4.1/dist/leaflet.markercluster.js"></script>
<script src="vendor/Leaflet.MarkerCluster.LayerSupport/leaflet.markercluster.layersupport.js"></script>
<script type="text/javascript" src="js/colors.js"></script>
<script type="text/javascript" src="js/leaflet-utils.js"></script>