<script src="vendor/leaflet/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>
<script type="text/javascript" src="js/colors.js"></script>
<script type="text/javascript" src="js/leaflet-utils.js"></script>