{% set page_title = object.name %}
{% set leaflet_css = True %}
{% extends "templates/partials/base.j2" %}

{% block content %}
{% with parent_page = "locations", parent_page_title = "Locations" %}
{% include "templates/partials/breadcrumbs.j2" %}
{% endwith %}
<div class="container subpage">
    <h1 class="text-center">
    {{page_title}}
    </h1>
    <div class="row">
        <div class="col">
            {% if pagename != 'district'%}
            {% if object.upper_admin1 or object.upper_admin2 or object.upper_admin3 or object.upper_admin4 or
            object.upper_admin5 %}
            <h2><i class="bi bi-geo-alt" aria-hidden="true"></i> Upper administration unit</h2>
            {% endif %}
            <dl class="ms-4">
                {% if object.upper_admin1 %}
                <dt>District</dt>
                {% for x in object.upper_admin1 %}
                <dd class="ms-2"><a href="district__{{ x.ids['database_table_1492'] }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}

                {% if object.upper_admin2 %}
                <dt><i>Nahiye</i></dt>
                {% for x in object.upper_admin2 %}
                <dd class="ms-2"><a href="nahiye__{{ x.ids['database_table_2979'] }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}

                {% if object.upper_admin3 %}
                <dt>Quarter</dt>
                {% for x in object.upper_admin3 %}
                <dd class="ms-2"><a href="quarter__{{ x.ids['database_table_2977'] }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}

                {% if object.upper_admin4 %}
                <dt><i>Mahalle</i></dt>
                {% for x in object.upper_admin4 %}
                <dd class="ms-2"><a href="neighbourhood__{{ x.ids['database_table_1493'] }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}

                {% if object.upper_admin5 %}
                <dt><i>Karye</i></dt>
                {% for x in object.upper_admin5 %}
                <dd class="ms-2"><a href="karye__{{ x.ids['database_table_1520'] }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}
            </dl>
            {% endif %}
            {% if object.documents %}
            <h2><i class="bi bi-archive" aria-hidden="true"></i> Documents</h2>
            <ul>
                {% for x in object.documents %}
                <li><a href="document__{{ x.id }}.html">{{ x.value }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if object.persons %}
            <h2><i class="bi bi-person" aria-hidden="true"></i> Persons</h2>
            <ul>
                {% for x in object.persons %}
                <li><a href="person__{{ x.id }}.html">{{ x.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="col">
            <h2><i class="bi bi-map" aria-hidden="true"></i> Map</h2>
            <div id="map" style="height: 600px;" />
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts2 %}
{% if object.lat %}
{% include "templates/partials/leaflet.j2" %}
<script>
    const icon = "bi bi-map-fill";
    const lat = {{ object.lat }};
    const long = {{ object.long }};
    const { map } = createMap({ initialCoordinates: [lat, long] });
    const docs = {{ object.documents | tojson | safe }}
    const persons = {{ object.persons | tojson | safe }};

    const markerData = {
        lat: lat,
        long: long,
        year: null,
        popupContent: `<strong>{{ object.name }}</strong>
    <br>${docs.length} related document(s)
    <br>${persons.length} related person(s)`,
        icon: icon,
    };
    const { marker } = createMarker(
        markerData
    );
    marker.addTo(map).openPopup();
</script>


{% endif %}
{% endblock scripts2 %}