{% set page_title = object.name %}
{% set leaflet_css = True %}
{% extends "templates/partials/base.j2" %}

{% block content %}
{% with parent_page = "locations", parent_page_title = "Locations" %}
{% include "templates/partials/breadcrumbs.j2" %}
{% endwith %}
<div class="container subpage">
    <h1 class="text-center">
    {{page_title}}
    </h1>
    <div class="row">
        <div class="col">
            {% if pagename != 'district'%}
            {% if object.upper_admin1 or object.upper_admin2 or object.upper_admin3 or object.upper_admin4 or
            object.upper_admin5 %}
            <h2><i class="bi bi-geo-alt me-2" aria-hidden="true"></i>Upper administration unit</h2>
            {% endif %}
            <dl class="ms-4">
                {% if object.upper_admin1 %}
                <dt>District</dt>
                {% for x in object.upper_admin1 %}
                <dd class="ms-2"><a href="district__{{ x.ids['database_table_1492'] }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}

                {% if object.upper_admin2 %}
                <dt><i>Nahiye</i></dt>
                {% for x in object.upper_admin2 %}
                <dd class="ms-2"><a href="nahiye__{{ x.ids['database_table_2979'] }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}

                {% if object.upper_admin3 %}
                <dt>Quarter</dt>
                {% for x in object.upper_admin3 %}
                <dd class="ms-2"><a href="quarter__{{ x.ids['database_table_2977'] }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}

                {% if object.upper_admin4 %}
                <dt><i>Mahalle</i></dt>
                {% for x in object.upper_admin4 %}
                <dd class="ms-2"><a href="neighbourhood__{{ x.ids['database_table_1493'] }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}

                {% if object.upper_admin5 %}
                <dt><i>Karye</i></dt>
                {% for x in object.upper_admin5 %}
                <dd class="ms-2"><a href="karye__{{ x.ids['database_table_1520'] }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}
            </dl>
            {% endif %}
            {% if object.documents %}
            <h2><i class="bi bi-archive me-2" aria-hidden="true"></i>Documents</h2>
            {% set name_attribute = "value" %}
            {% include "templates/partials/doc_list.j2" with context %}
            {% endif %}
            {% if object.persons %}
            <h2><i class="bi bi-person me-2" aria-hidden="true"></i>Persons</h2>
                     <ul>
                {% set sorted_persons = object.persons | sort(attribute='name') %}
                {% if sorted_persons|length > 5 %}
                {% for x in sorted_persons[:5] %}
                <li>
                    <a href="person__{{ x.id }}.html">{{ x.name }}</a>
                </li>
                {% endfor %}
                <div class="collapse" id="personsmore">
                    {% for x in sorted_persons[5:] %}
                    <li><a href="person__{{ x.id }}.html">{{ x.name }}</a></li>
                    {% endfor %}
                </div>
                <button class="btn grocerist-button mt-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#personsmore" aria-expanded="false" aria-controls="personsmore">
                    Show more
                </button>
                {% else%}
                {% for x in sorted_persons %}
                <li>
                    <a href="person__{{ x.id }}.html">{{ x.name }}</a>
                </li>
                {% endfor %}
                {%endif%}
            </ul>
            {% endif %}
        </div>
        <div class="col">
            <h2><i class="bi bi-map me-2" aria-hidden="true"></i>Map</h2>
            <div id="map"></div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts2 %}
{% if object.documents %}
{% include "templates/partials/leaflet.j2" %}
<script>
    const icon = "bi bi-map-fill";
    const doc_list = {{ object.documents | tojson | safe }}
    const { map, layerGroups } = createMap({ layerControl: true });
    markerPerDoc(doc_list, icon, layerGroups);
</script>
{% endif %}
{% if object.documents|length > 5 or object.persons |length > 5 %}
<script src="js/collapse.js"></script>
{% endif %}
{% endblock scripts2 %}