{% extends "templates/partials/base.j2" %}
{% block content %}
<div class="container {{ pagename }}">
    <h1 class="text-center">
        {% with parent_page = parentpage %}
        {% include "templates/partials/link_to_top.j2" %}
        {% endwith %}
        {{ object.name }}
    </h1>
    <div class="row">
        <div class="col">
            <h2><i class="bi bi-archiv"></i> Documents</h2>
            <ul>
                {% for x in object.documents %}
                <li><a href="document__{{ x.id }}.html">{{ x.value }}</a></li>
                {% endfor %}
            </ul>
            <h2><i class="bi bi-archiv"></i> Persons</h2>
            <ul>
                {% for x in object.persons %}
                <li><a href="document__{{ x.id }}.html">{{ x.value }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <h2>Map</h2>
            <div id="map" style="height: 600px;" />
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts2 %}
{% if object.lat %}
{% include "templates/partials/leaflet.j2" %}

<script>
    const map = L.map('map').setView([{{ object.lat }}, {{ object.long }}], 13);

    const tiles = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
        maxZoom: 20,
        attribution:  '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>'
    }).addTo(map);

    const marker = L.marker([{{ object.lat }}, {{ object.long }}]).addTo(map)
        .bindPopup('<strong>{{ object.name }}</strong>').openPopup();
</script>


{% endif %}
{% endblock scripts2 %}
