<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">GrocerIST</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Info
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="about.html">About the Project</a></li>
            <li><a class="dropdown-item" href="team.html">Team</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="imprint.html">Imprint</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Browse the Data
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="documents.html">Documents</a></li>
            <li><a class="dropdown-item" href="persons.html">Grocers</a></li>
            <li><a class="dropdown-item" href="goods.html">Groceries</a></li>
            <li><a class="dropdown-item" href="categories.html">Grocery Categories</a></li>
            <li><a class="dropdown-item" href="utensils.html">Utensils</a></li>
            <li><a class="dropdown-item" href="locations.html">Locations</a></li>
            <li><a class="dropdown-item" href="prices.html">Prices</a></li>
            <li><a class="dropdown-item" href="dashboard.html">Dashboard</a></li>
          </ul>
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <div>
        <a href="https://github.com/grocerist/grocerist-app"><i class="bi bi-github" aria-hidden="true"></i><span
            class="visually-hidden">Link to GitHub Repository</span></a>
      </div>
    </div>
  </div>
</nav>