{% extends "templates/partials/base.j2" %}
{% block title %}Browse {{ subpage }} {% endblock title %}
{% block page_description %}
<meta name="description" content="{{ project_data.project_sub_title }}">
{% endblock page_description %}
{% block scriptHeader %}
{% include "templates/partials/tabulator.j2" %}
{% include "templates/partials/leaflet.j2" %}
<script type="module">
    import * as tableMapModule from './js/table_map.js'
    const dataUrl = '{{ data_url}}'
    const tableCfg = { columns: 
        [
            {
                title: 'Name',
                field: 'name',
                headerFilter: 'input',
                formatter: function (cell) {
                    return tableMapModule.linkToDetailView(cell)
                }
            },
            {% block extra_columns %}{% endblock %}
            {
                title: 'Documents',
                field: 'documents',
                mutator: tableMapModule.mutateDocumentField,
                headerFilter: 'input',
                formatter: function (cell) {
                    return get_scrollable_cell(this, cell)
                },
                tooltip: true
            },
            {
                title: 'Nr. of Documents',
                field: 'doc_count',
                headerFilter: 'number',
                headerFilterPlaceholder: 'at least...',
                headerFilterFunc: '>='
            },
            {
                title: 'Persons',
                field: 'persons',
                mutator: tableMapModule.mutatePersonField,
                headerFilter: 'input',
                formatter: function (cell) {
                    return get_scrollable_cell(this, cell)
                }
            },
            {
                title: 'Nr. of Persons',
                field: 'person_count',
                headerFilter: 'number',
                headerFilterPlaceholder: 'at least...',
                headerFilterFunc: '>='
            }
        ]}
        tableMapModule.setupMapAndTable(dataUrl, tableCfg)
</script>
{% endblock scriptHeader %}
{% block content %}
<div class="container {{ subpage|lower }}">
    <h1 class="text-center">{{ subpage }}</h1>
    <div class="row">
        <div class="col-md-7">
            <div id="places_table"></div>
        </div>
        <div class="col-md-5">
            <div id="map"></div>
        </div>
    </div>
    {% endblock content%}