<script type="text/javascript" src="vendor/tabulator-tables/js/tabulator.min.js"></script>
<script src="vendor/d3/d3.v7.min.js"></script>
<script type="text/javascript" src="js/tabulator-utils.js"></script>