img.footerimage {
    width: 100%;
    height: auto;
    max-width: 180px;
}
#map {
    height: 60vh;
}

:root {
    --documents: #536e61;
    --documents-hover:#536e61c2;
    --persons: #79B4A9;
    --persons-hover: #79B4A9c2;
    --mahalles: #cf7332;
    --mahalles-hover: #cf7332c2;
    --districts: #993333;
    --districts-hover: #993333c2;
    --karyes: #EDB183;
    --karyes-hover: #EDB183c2;
    --categories: #9CC69B;
    --categories-hover: #9CC69Bc2;
    --goods: #9cc288;
    --goods-hover: #9cc288c2;
    --link: #000000;
    --link-hover: #6e6e6ec2;
    --footer-hover-background: #f2f2f2;
}

/*
document is built up as follows: 

links to a specific page
remaining links
page headers
tabulator headers
tabulator footer
subpages 
*/

/* links to a specific page */
a[href="documents.html"] {
    color: var(--documents);
 &:hover { 
    color: var(--documents-hover);
 }
}
a[href="persons.html"] {
    color: var(--persons);
 &:hover { 
    color: var(--persons-hover);
 }
} 
a[href="neighbourhoods.html"] {
    color: var(--mahalles);
 &:hover { 
    color: var(--mahalles-hover);
 }
}
a[href="districts.html"] {
    color: var(--districts);
 &:hover { 
    color: var(--districts-hover);
 }
}
a[href="karyes.html"] {
    color: var(--karyes);
 &:hover { 
    color: var(--karyes-hover);
 }
}
a[href="categories.html"] {
    color: var(--categories);
 &:hover { 
    color: var(--categories-hover);
 }
}
a[href="goods.html"] {
    color: var(--goods);
 &:hover { 
    color: var(--goods-hover);
 }
}

/* remaining links */
a {
    color: var(--link);
    text-decoration: unset;
 &:hover {
    color: var(--link-hover);
 }
}


/* page headers */
h1 {
    text-decoration:unset;
}
div.documents h1 {
    color: var(--documents);
}
div.persons h1 {
    color: var(--persons);
}
div.mahalles h1 {
    color: var(--mahalles);
}
div.districts h1 {
    color: var(--districts);
}
div.karyes h1 {
    color: var(--karyes);
}
div.categories h1 {
    color: var(--categories);
}
div.goods h1 {
    color: var(--goods);
}

/* tabulator headers */
/*documents page*/
div.documents div.tabulator-col.tabulator-sortable.tabulator-col-sorter-element { /*parts of header with text*/
    background-color: var(--documents);
    color: white; 
 &:hover {
    background-color: var(--documents-hover) !important;
 }
}

/*persons page*/
div.persons div.tabulator-col.tabulator-sortable.tabulator-col-sorter-element {
    background-color: var(--persons);
 &:hover {
    background-color: var(--persons-hover) !important;
 }
}

/*mahalles page*/
div.mahalles div.tabulator-col.tabulator-sortable.tabulator-col-sorter-element {
    background-color: var(--mahalles);
 &:hover {
    background-color: var(--mahalles-hover) !important;
 }
}

/*districts page*/
div.districts div.tabulator-col.tabulator-sortable.tabulator-col-sorter-element {
    background-color: var(--districts);
 &:hover {
    background-color: var(--districts-hover) !important;
 }
}

/*karyes page*/
div.karyes div.tabulator-col.tabulator-sortable.tabulator-col-sorter-element {
    background-color: var(--karyes);
 &:hover {
    background-color: var(--karyes-hover) !important;
 }
}

/*categories page*/
div.categories div.tabulator-col.tabulator-sortable.tabulator-col-sorter-element {
    background-color: var(--categories);
 &:hover {
    background-color: var(--categories-hover) !important;
 }
}

/*goods page*/
div.goods div.tabulator-col.tabulator-sortable.tabulator-col-sorter-element {
    background-color: var(--goods);
    color: white;
 &:hover {
    background-color: var(--goods-hover) !important;
 }
}

/* end of tabulator headers */


/* tabulator footer */
/*documents footer*/
div.documents div.tabulator .tabulator-footer .tabulator-page.active {
    background-color: var(--documents);
    border-color: var(--documents);
 &:hover {
    background-color: var(--footer-hover-background);
 }
}
div.documents div.tabulator .tabulator-footer .tabulator-page:hover {
    color: var(--documents) !important;
}

/*persons footer*/
div.persons div.tabulator .tabulator-footer .tabulator-page.active {
    background-color: var(--persons);
    border-color: var(--persons);
 &:hover {
    background-color: var(--footer-hover-background);
 }
}
div.persons div.tabulator .tabulator-footer .tabulator-page:hover {
    color: var(--persons) !important;
}

/*mahalles footer*/
div.mahalles div.tabulator .tabulator-footer .tabulator-page.active {
    background-color: var(--mahalles);
    border-color: var(--mahalles);
 &:hover {
    background-color: var(--footer-hover-background);
 }
}
div.mahalles div.tabulator .tabulator-footer .tabulator-page:hover {
    color: var(--mahalles) !important;
}

/*districts footer*/
div.districts div.tabulator .tabulator-footer .tabulator-page.active {
    background-color: var(--districts);
    border-color: var(--districts);
 &:hover {
    background-color: var(--footer-hover-background);
 }
}
div.districts div.tabulator .tabulator-footer .tabulator-page:hover {
    color: var(--districts) !important;
}

/*karyes footer*/
div.karyes div.tabulator .tabulator-footer .tabulator-page.active {
    background-color: var(--karyes);
    border-color: var(--karyes);
 &:hover {
    background-color: var(--footer-hover-background);
 }
}
div.karyes div.tabulator .tabulator-footer .tabulator-page:hover {
    color: var(--karyes) !important;
}

/*categories footer*/
div.categories div.tabulator .tabulator-footer .tabulator-page.active {
    background-color: var(--categories);
    border-color: var(--categories);
 &:hover {
    background-color: var(--footer-hover-background);
 }
}
div.categories div.tabulator .tabulator-footer .tabulator-page:hover {
    color: var(--categories) !important;
}

/*goods footer*/
div.goods div.tabulator .tabulator-footer .tabulator-page.active {
    background-color: var(--goods);
    border-color: var(--goods);
 &:hover {
    background-color: var(--footer-hover-background);
 }
}
div.goods div.tabulator .tabulator-footer .tabulator-page:hover {
    color: var(--goods) !important;
}

/* end of tabulator footer */


/* subpages */
/*document subpage*/
div.document h1 { /*create line*/
    border-bottom: 3px solid var(--documents);  
    padding-bottom: 5px;
}
div.document a {
    color: var(--documents);
 &:hover {
    color: var(--documents-hover);
 }
}
div.document .badge {
    background-color: var(--documents) !important;
 &:hover {
    background-color: var(--documents-hover) !important;
 }
}

/*person subpage*/
div.person h1 {
    border-bottom: 3px solid var(--persons); 
    padding-bottom: 5px;
}
div.person a {
      color: var(--persons);
 &:hover {
    color: var(--persons-hover);
 }
}

/*mahalle subpage*/
div.mahalle h1 {
    border-bottom: 3px solid var(--mahalles);
    padding-bottom: 5px;
}
div.mahalle a {
    color: var(--mahalles);
 &:hover {
    color: var(--mahalles-hover);
 }
}

/*district subpage*/
div.district h1 {
    border-bottom: 3px solid var(--districts);
    padding-bottom: 5px;
}
div.district a {
      color: var(--districts);
 &:hover {
    color: var(--districts-hover);
 }
}

/*karye subpage*/
div.karye h1 {
    border-bottom: 3px solid var(--karyes);
    padding-bottom: 5px;
}
div.karye a {
      color: var(--karyes);
 &:hover {
    color: var(--karyes-hover);
 }
}

/*category subpage*/
div.category h1 {
    border-bottom: 3px solid var(--categories);
    padding-bottom: 5px;
}
div.category a {
      color: var(--categories);
 &:hover {
    color: var(--categories-hover);
 }
}

/*good subpage*/
div.good h1 {
    border-bottom: 3px solid var(--goods);
    padding-bottom: 5px;
}
div.good a {
      color: var(--goods);
 &:hover {
    color: var(--goods-hover);
 }
}


/* end of subpages */