{% extends "templates/partials/base.j2" %}
{% block content %}
<div class="container category">
    <h1 class="text-center">
        {% with parent_page = "categories" %}
        {% include "templates/partials/link_to_top.j2" %}
        {% endwith %}
        {{object.name }}</h1>
    <h2><i class="bi bi-basket"></i> Groceries</h2>
    <ul>
        {% for x in object.goods %}
        <li>
            <a href="{{ x.grocerist_id }}.html">{{ x.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <h2><i class="bi bi-archiv"></i> Documents</h2>
    <ul>
        {% for x in object.documents %}
        <li><a href="{{ x.grocerist_id }}.html">{{ x.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}