{% set page_title = object.name %}
{% extends "templates/partials/base.j2" %}
{% block content %}
{% with parent_page = "categories", parent_page_title = "Grocery Categories" %}
{% include "templates/partials/breadcrumbs.j2" %}
{% endwith %}
<div class="container subpage">
    <h1 class="text-center">
        {{page_title}}</h1>
    <h2><i class="bi bi-basket" aria-hidden="true"></i> Groceries</h2>
    <ul>
        {% for x in object.goods %}
        <li>
            <a href="goods__{{ x.id }}.html">{{ x.value }}</a>
        </li>
        {% endfor %}
    </ul>
    <h2><i class="bi bi-archive" aria-hidden="true"></i> Documents</h2>
    <ul>
        {% for x in object.documents %}
        <li><a href="{{ x.grocerist_id }}.html">{{ x.shelfmark }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}