{% set leaflet_css = object.documents is not none %}
{% set tabulator_css = object.price_per_document is not none %}
{% extends "templates/partials/base.j2" %}
{% block scriptHeader %}
{% if object.documents %}
{% include "templates/partials/leaflet.j2" %}
{% endif %}
{% if object.price_per_document %}
{% include "templates/partials/tabulator.j2" %}
{% endif %}
{% endblock scriptHeader %}
{% block content %}
<div class="container subpage">
    <h1 class="text-center">
        {% with parent_page = "goods" %}
        {% include "templates/partials/link_to_top.j2" %}
        {% endwith %}
        {{ object.name }}
    </h1>
    <div class="row">
        <div class="col">
            {% if object.english_names or object.spelling_variations_and_synonyms %}
            <h3><i class="bi bi-journal-text" aria-hidden="true"></i> Vocabulary details</h3>
            <dl class="ms-4">
                {% if object.english_names %}
                <dt>Translation</dt>
                <dd class="ms-2">{{ object.english_names }}</dd>
                {% endif %}
                {% if object.spelling_variations_and_synonyms %}
                <dt>Spelling variations and synonyms</dt>
                {% for variation in object.spelling_variations_and_synonyms.split(',') %}
                <dd class="ms-2">{{ variation.strip() }}</dd>
                {% endfor %}
                {% endif %}
            </dl>
            {% endif %}
            {% if object.notes %}
            <h2><i class="bi bi-info-circle" aria-hidden="true"></i> Description</h2>
            <p class="ms-4">{{ object.notes }}</p>
            {% endif %}
            {% if object.has_category%}
            <h2><i class="bi bi-boxes" aria-hidden="true"></i> Categories</h2>
            <ul>
                {% for x in object.has_category %}
                <li><a href="category__{{ x.id }}.html">{{ x.value }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if object.documents%}
            <h2><i class="bi bi-archive" aria-hidden="true"></i> Documents</h2>
            <ul>
                {% for x in object.documents %}
                <li><a href="document__{{ x.id }}.html">{{ x.value }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% if object.documents %}
        <div class="col">
            <h2><i class="bi bi-map" aria-hidden="true"></i> Map</h2>
            <div id="map" style="height: 600px;" />
        </div>
        {% endif %}
    </div>
    {% if object.price_per_document %}
    <div class="row">
        <h2><i class="bi bi-cash-stack" aria-hidden="true"></i> Price Information</h2>
        <div id="prices-table"></div>
    </div>
    {% endif %}
</div>
</div>
{% endblock content %}
{% block scripts2 %}
{% if object.price_per_document or object.documents%}
<script src="js/good-common.js"></script>
{% endif %}
{% if object.price_per_document %}
<script>
    const priceData = {{ object.price_per_document | tojson | safe }};
    const documentData = {{ object.documents | tojson | safe }}
    priceData.forEach(price => {
        price.document.forEach(doc => {
            const matchingDoc = documentData.find(d => d.id === doc.id);
            if (matchingDoc) {
                const year = getYearFromISODate(matchingDoc.iso_date);
                doc.year = year;
            }
        });
    });
    initializeTabulator(priceData);
</script>
{% endif %}
{% if object.documents %}
<script>
    // tojson filter is used to keep the data in json format
    // e.g. preventing the null values from being converted to None during processing
    const doc_list = {{ object.documents | tojson | safe }};
    const { map, layerGroups } = createMap({ layerControl: true });
    markerPerDoc(doc_list, layerGroups);
</script>
{% endif %}
{% endblock scripts2 %}