{% extends "templates/partials/base.j2" %}
{% block content %}
<div class="container mahalle">
    <h1 class="text-center">
        {% with parent_page = "neighbourhoods" %}
        {% include "templates/partials/link_to_top.j2" %}
        {% endwith %}
        {{ object.name }}</h1>
    <div class="row">
        <div class="col">
            <h2><i class="bi bi-archiv"></i> Documents</h2>
            <ul>
                {% for x in object.documents %}
                <li><a href="document__{{ x.id }}.html">{{ x.value }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <h2>Map</h2>
            <div id="map" style="height: 800px;" />
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts2 %}
{% if object.geonames_id %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script>
    const map = L.map('map').setView([{{ object.lat }}, { { object.long } }], 13);

    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    const marker = L.marker([{{ object.lat }}, { { object.long } }]).addTo(map)
        .bindPopup('<strong>{{ object.name }}</strong>').openPopup();
</script>


{% endif %}
{% endblock scripts2 %}