{% set page_title = object.name %}
{% set leaflet_css = True %}
{% extends "templates/partials/base.j2" %}
{% block content %}
{% with parent_page = "persons", parent_page_title= "Grocers" %}
{% include "templates/partials/breadcrumbs.j2" %}
{% endwith %}
<div class="container subpage">
    <h1 class="text-center">
        {{ page_title}}
    </h1>
    <div class="row">
        <div class="col">
            {% if object.religion %}
            <h2><i class="bi bi-eye me-2" aria-hidden="true"></i>Religion</h2>
            <ul class="no-bullets">
                {% for x in object.religion %}
                <li>
                    {{ x.value }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if object.district or object.neighbourhood or object.karye or object.nahiye or object.quarter or
            object.address %}
            <h2><i class="bi bi-geo-alt me-2" aria-hidden="true"></i>Location</h2>
            <dl class="ms-4">
                {% if object.district %}
                <dt>District</dt>
                {% for x in object.district %}
                <dd class="ms-2"><a href="district__{{ x.id }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}

                {% if object.neighbourhood %}
                <dt><i>Mahalle</i></dt>
                {% for x in object.neighbourhood %}
                <dd class="ms-2"><a href="neighbourhood__{{ x.id }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}

                {% if object.karye %}
                <dt><i>Karye</i></dt>
                {% for x in object.karye %}
                <dd class="ms-2"><a href="karye__{{ x.id }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}

                {% if object.nahiye %}
                <dt><i>Nahiye</i></dt>
                {% for x in object.nahiye %}
                <dd class="ms-2"><a href="nahiye__{{ x.id }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}

                {% if object.quarter %}
                <dt>Quarter</dt>
                {% for x in object.quarter %}
                <dd class="ms-2"><a href="quarter__{{ x.id }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}

                {% if object.address %}
                <dt>Address</dt>
                {% for x in object.address %}
                <dd class="ms-2"><a href="address__{{ x.id }}.html">{{ x.value }}</a></dd>
                {% endfor %}
                {% endif %}
            </dl>
            {% endif %}
            {% if object.documents %}
            <h2><i class="bi bi-archive me-2" aria-hidden="true"></i>Documents</h2>
            <ul>
                {% for x in object.documents | sort(attribute='value')%}
                <li><a href="document__{{ x.id }}.html">{{ x.value }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="col">
            <h2><i class="bi bi-map me-2" aria-hidden="true"></i>Map</h2>
            <div id="map"></div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts2 %}
{% if object.documents %}
{% include "templates/partials/leaflet.j2" %}
<script>
    const icon = "bi bi-people-fill"

    // tojson filter is used to keep the data in json format
    // e.g. preventing the null values from being converted to None during processing
    const doc_list = {{ object.documents | tojson | safe }};

    const { map } = createMap();
    markerPerDoc(doc_list, icon);
</script>
{% endif %}
{% endblock scripts2 %}