{% extends "templates/partials/base.j2" %}
{% block content %}
<div class="container subpage">
    <h1 class="text-center">
        {% with parent_page = "persons" %}
        {% include "templates/partials/link_to_top.j2" %}
        {% endwith %}
        {{ object.name
        }}</h1>
    <h2><i class="bi bi-eye" aria-hidden="true"></i> Religion</h2>
    <ul class="no-bullets">
        {% for x in object.religion %}
        <li>
            {{ x.value }}
        </li>
        {% endfor %}
    </ul>
    <h2><i class="bi bi-geo-alt" aria-hidden="true"></i> Location</h2>
    <dl>
        {% if object.district %}
        <dt>District</dt>
        {% for x in object.district %}
        <dd class="ms-5"><a href="district__{{ x.id }}.html">{{ x.value }}</a></dd>
        {% endfor %}
        {% endif %}

        {% if object.neighbourhood %}
        <dt><i>Mahalle</i></dt>
        {% for x in object.neighbourhood %}
        <dd class="ms-5"><a href="neighbourhood__{{ x.id }}.html">{{ x.value }}</a></dd>
        {% endfor %}
        {% endif %}

        {% if object.karye %}
        <dt><i>Karye</i></dt>
        {% for x in object.karye %}
        <dd class="ms-5"><a href="karye__{{ x.id }}.html"></a>{{ x.value }}</dd>
        {% endfor %}
        {% endif %}

        {% if object.nahiye %}
        <dt><i>Nahiye</i></dt>
        {% for x in object.nahiye %}
        <dd class="ms-5"><a href="nahiye__{{ x.id }}.html"></a>{{ x.value }}</dd>
        {% endfor %}
        {% endif %}

        {% if object.quarter %}
        <dt>Quarter</dt>
        {% for x in object.quarter %}
        <dd class="ms-5"><a href="quarter__{{ x.id }}.html"></a>{{ x.value }}</dd>
        {% endfor %}
        {% endif %}

        {% if object.address %}
        <dt>Address</dt>
        {% for x in object.address %}
        <dd class="ms-5"><a href="address__{{ x.id }}.html"></a>{{ x.value }}</dd>
        {% endfor %}
        {% endif %}
    </dl>
    <h2><i class="bi bi-archive" aria-hidden="true"></i> Documents</h2>
    <ul>
        {% for x in object.documents %}
        <li><a href="document__{{ x.id }}.html">{{ x.value }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}