{% set leaflet_css = True %}
{% extends "templates/partials/base.j2" %}

{% block content %}
<div class="container subpage">
    <h1 class="text-center">
        {% with parent_page = "prices" %}
        {% include "templates/partials/link_to_top.j2" %}
        {% endwith %}
        {{ price.good }}
    </h1>

    <div class="row">
        <div class="col">
            <h2><i class="bi bi-currency-dollar" aria-hidden="true"></i> Price Details</h2>
            <table class="table table-striped">
                <tr>
                    <th>Document</th>
                    <td><a href="/document-detail/{{ price.document }}">{{ price.document }}</a></td>
                </tr>
                <tr>
                    <th>Good Name</th>
                    <td>{{ price.good }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ price.price }}</td>
                </tr>
                <tr>
                    <th>Unit</th>
                    <td>{{ price.unit }}</td>
                </tr>
                <tr>
                    <th>Amount</th>
                    <td>{{ price.amount_of_units }}</td>
                </tr>
                <tr>
                    <th>Total Value</th>
                    <td>{{ price.total_value }}</td>
                </tr>
            </table>
        </div>
        <div class="col">
            <h2><i class="bi bi-map" aria-hidden="true"></i> Map</h2>
            <div id="map" style="height: 600px;"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts2 %}
{% if price.documents %}
{% include "templates/partials/leaflet.j2" %}
<script>
    const icon = "bi bi-currency-exchange";

    const doc_list = {{ price.documents | tojson | safe }};
    const { map, layerGroups } = createMap({ layerControl: true });

    for (let i = 0; i < doc_list.length; i++) {
        const doc = doc_list[i];
        const year = getYearFromISODate(doc.iso_date);
        if (doc.lat && doc.long) {
            const markerData = {
                lat: doc.lat,
                long: doc.long,
                year: year,
                popupContent: `<p>Mentioned in document <br>
                <strong><a href="/document-detail/${doc.id}">${doc.value}</a></strong><br>
                ${year ? `in ${year}` : ''}</p>`,
                icon: icon,
            };
            const { marker, layerName } = createMarker(markerData, true);
            marker.addTo(layerGroups[layerName]);
        }
    }
</script>
{% endif %}
{% endblock scripts2 %}
