{% set page_title = object.name %}
{% set leaflet_css = True %}
{% extends "templates/partials/base.j2" %}

{% block content %}
{% with parent_page = "utensils" , parent_page_title = "Utensils"%}
{% include "templates/partials/breadcrumbs.j2" %}
{% endwith %}
<div class="container subpage">
    <h1 class="text-center">
        {{page_title}}
    </h1>
    <div class="row">
        <div class="col">
            {% if object.notes %}
            <h2><i class="bi bi-info-circle me-2" aria-hidden="true"></i>Description</h2>
            <p class="ms-4">{{ object.notes }}</p>

            {% endif %}
            {% if object.documents %}
            <h2><i class="bi bi-archive me-2" aria-hidden="true"></i>Documents</h2>
            {% set name_attribute = "value" %}
            {% include "templates/partials/doc_list.j2" with context%}
            {% endif %}
        </div>
        <div class="col">
            <h2><i class="bi bi-map me-2" aria-hidden="true"></i>Map</h2>
            <div id="map" style="height: 600px;" />
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts2 %}
{% if object.documents %}
{% include "templates/partials/leaflet.j2" %}
<script>
    const icon = "bi bi-bucket-fill"

    // tojson filter is used to keep the data in json format
    // e.g. preventing the null values from being converted to None during processing
    const doc_list = {{ object.documents | tojson | safe }};

    const { map, layerGroups } = createMap({ layerControl: true });

    // create markers for each document
    for (let i = 0; i < doc_list.length; i++) {
        const doc = doc_list[i];
        const year = getYearFromISODate(doc.iso_date);
        const century = doc.century?.value || null;
        if (doc.lat && doc.long) {
            const yearText = year ? `in ${year}` : '';
            const markerData = {
                lat: doc.lat,
                long: doc.long,
                century,
                popupContent: `<p>Mentioned in document <br>
                <strong><a href="document__${doc.id}.html">${doc.value}</a></strong><br>
                ${yearText}</p>`,
                icon: icon,
            };
            const { marker, layerName } = createMarker(markerData, true);
            marker.addTo(layerGroups[layerName]);
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        // For each collapsible section, set up event listeners
        const collapses = document.querySelectorAll('.collapse');
        collapses.forEach(function (collapse) {
            const btn = document.querySelector('[data-bs-target="#' + collapse.id + '"]');
            if (btn) {
                collapse.addEventListener('shown.bs.collapse', function () {
                    btn.textContent = 'Show less';
                });
                collapse.addEventListener('hidden.bs.collapse', function () {
                    btn.textContent = 'Show more';
                });
            }
        });
    })
</script>
{% endif %}
{% endblock scripts2 %}